@function px2rem($px) {
    $rem: 75px;
    @return ($px / $rem) + rem;
}
body {
    background-color:rgba(245,246,247,1);
}
.header {
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    width: 100%;
    height: px2rem(128px);
    line-height:px2rem(52px);
    background: #333334;
    padding-top: px2rem(58px);
    text-align: center;
    position: relative;
    .header-title {
        font-size:px2rem(37px);
    }
    .header-btn {
        font-family: PingFangSC-Light;
        font-size:px2rem(28px);
        position: absolute;
        left: px2rem(15px);
        .icon {
            display: inline-block;
            width: px2rem(23px);
            height: px2rem(23px);
            border-left: px2rem(3.5px) solid #FFF;
            border-bottom: px2rem(3.5px) solid #FFF;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            position: relative;
            top: px2rem(1px);
            left: px2rem(12px);
        }
    }
}
.main {
    width: 100%;
    .main-title {
        height:px2rem(80px);
        line-height:px2rem(80px);
        text-align: center;
        background:rgba(255,255,255,1);
        margin-bottom: px2rem(12px);
        .main-title-info {
            font-size:0;
            font-family:PingFangSC-Regular;
            color:rgba(112,112,118,1);
            .icon {
                display: inline-block;
                width: px2rem(21px);
                height: px2rem(21px);
                border-left: px2rem(3px) solid #707076;
                border-bottom: px2rem(3px) solid #707076;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                position: relative;
                right: px2rem(120px);
            }
            span {
                font-size:px2rem(30px);
            }
            .blue {
                font-family:PingFangSC-Medium;
                color:rgba(108,139,254,1);
            }
            .main-title-info-icon {
                display: inline-block;
                width: px2rem(11px);
                height: px2rem(11px);
                border-right: px2rem(2px) solid #C6C6C8;
                border-top: px2rem(2px) solid #C6C6C8;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
                position: relative;
                top: px2rem(-5px);
                left: 0;
                margin: 0 px2rem(18px) 0 px2rem(14px);
            }
        }
    }
    .main-container {
        background:rgba(255,255,255,1);
        padding-left: px2rem(30px);
        font-size: 0;
        span {
            font-size:px2rem(30px);
            font-family:PingFangSC-Regular;
            color:rgba(112,112,118,1);
            line-height:px2rem(88px);
        }
        input {
            float: right;
            font-size:px2rem(30px);
            font-family:PingFangSC-Regular;
            color:rgba(44,48,54,1);
            width: px2rem(536px);
            height: px2rem(88px);
            line-height: px2rem(88px);
            border-bottom: px2rem(1px) solid rgba(229,229,229,1);
        }
        /* 去除姓名框内最右侧大黑叉 */
        input::-ms-clear{
            display: none;
        }
        /* 去除密码框内最右侧大眼睛 */
        input::-ms-reveal{
            display: none;
        }
        input::placeholder {
            font-size:px2rem(30px);
            font-family:PingFangSC-Regular;
            color:rgba(198,198,200,1);
        }
    }
    .main-btn {
        font-size: 0;
        margin-top: px2rem(40px);
        text-align: center;
        button {
            width:px2rem(690px);
            height:px2rem(96px);
            background:rgba(229,229,229,1);
            border-radius:px2rem(8px);
            font-size:px2rem(36px);
            font-family:PingFangSC-Semibold;
            color:rgba(151,151,153,1);
        }
    }
    .main-btn-highlight {
        font-size: 0;
        margin-top: px2rem(40px);
        text-align: center;
        button {
            width:px2rem(690px);
            height:px2rem(96px);
            background:#6C8BFE;
            border-radius:px2rem(8px);
            font-size:px2rem(36px);
            font-family:PingFangSC-Semibold;
            color:#FFF;
        }
    }
}

