@charset "UTF-8";
body {
  background-color: #f5f6f7; }

.header {
  font-family: PingFangSC-Medium;
  color: white;
  width: 100%;
  height: 1.7066666667rem;
  line-height: 0.6933333333rem;
  background: #333334;
  padding-top: 0.7733333333rem;
  text-align: center;
  position: relative; }
  .header .header-title {
    font-size: 0.4933333333rem; }
  .header .header-btn {
    font-family: PingFangSC-Light;
    font-size: 0.3733333333rem;
    position: absolute;
    left: 0.2rem; }
    .header .header-btn .icon {
      display: inline-block;
      width: 0.3066666667rem;
      height: 0.3066666667rem;
      border-left: 0.0466666667rem solid #FFF;
      border-bottom: 0.0466666667rem solid #FFF;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      position: relative;
      top: 0.0133333333rem;
      left: 0.16rem; }

.main {
  width: 100%; }
  .main .main-title {
    height: 1.0666666667rem;
    line-height: 1.0666666667rem;
    text-align: center;
    background: white;
    margin-bottom: 0.16rem; }
    .main .main-title .main-title-info {
      font-size: 0;
      font-family: PingFangSC-Regular;
      color: #707076; }
      .main .main-title .main-title-info .icon {
        display: inline-block;
        width: 0.28rem;
        height: 0.28rem;
        border-left: 0.04rem solid #707076;
        border-bottom: 0.04rem solid #707076;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        right: 1.6rem; }
      .main .main-title .main-title-info span {
        font-size: 0.4rem; }
      .main .main-title .main-title-info .blue {
        font-family: PingFangSC-Medium;
        color: #6c8bfe; }
      .main .main-title .main-title-info .main-title-info-icon {
        display: inline-block;
        width: 0.1466666667rem;
        height: 0.1466666667rem;
        border-right: 0.0266666667rem solid #C6C6C8;
        border-top: 0.0266666667rem solid #C6C6C8;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: relative;
        top: -0.0666666667rem;
        left: 0;
        margin: 0 0.24rem 0 0.1866666667rem; }
  .main .main-container {
    background: white;
    padding-left: 0.4rem;
    font-size: 0;
    /* 去除姓名框内最右侧大黑叉 */
    /* 去除密码框内最右侧大眼睛 */ }
    .main .main-container input {
      float: right;
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      color: #2c3036;
      width: 7.1466666667rem;
      height: 1.1733333333rem;
      line-height: 1.1733333333rem;
      border-bottom: 0.0133333333rem solid #e5e5e5; }
    .main .main-container .input-phone:before {
      content: '手机号';
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      color: #707076;
      position: relative;
      top: 0.3866666667rem; }
    .main .main-container .input-yanzheng:before {
      content: '短信验证码';
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      color: #707076;
      position: relative;
      top: 0.3866666667rem; }
    .main .main-container input::-ms-clear {
      display: none; }
    .main .main-container input::-ms-reveal {
      display: none; }
    .main .main-container input::placeholder {
      font-size: 0.4rem;
      font-family: PingFangSC-Regular;
      color: #c6c6c8; }
    .main .main-container .input-phone,
    .main .main-container .input-yanzheng {
      overflow: hidden; }
    .main .main-container .input-yanzheng {
      position: relative; }
    .main .main-container .input-yanzheng-btn {
      font-size: 0;
      position: absolute;
      top: 0.2133333333rem;
      right: 0.4rem; }
      .main .main-container .input-yanzheng-btn button {
        font-size: 0.3733333333rem;
        font-family: PingFangSC-Regular;
        color: #6c8bfe;
        width: 1.7466666667rem;
        height: 0.7466666667rem;
        background: white;
        border: 0.0266666667rem solid #6c8bfe;
        border-radius: 0.0533333333rem; }
    .main .main-container .input-yanzheng-btn-after {
      font-size: 0;
      position: absolute;
      top: 0.2133333333rem;
      right: 0.4rem; }
      .main .main-container .input-yanzheng-btn-after button {
        font-size: 0.3733333333rem;
        font-family: PingFangSC-Regular;
        color: #c6c6c8;
        width: 1.7466666667rem;
        height: 0.7466666667rem;
        background: #f5f6f7;
        border-radius: 0.0533333333rem; }
  .main .main-btn {
    font-size: 0;
    margin-top: 0.5333333333rem;
    text-align: center; }
    .main .main-btn button {
      width: 9.2rem;
      height: 1.28rem;
      background: #e5e5e5;
      border-radius: 0.1066666667rem;
      font-size: 0.48rem;
      font-family: PingFangSC-Semibold;
      color: #979799; }
  .main .main-btn-highlight {
    font-size: 0;
    margin-top: 0.5333333333rem;
    text-align: center; }
    .main .main-btn-highlight button {
      width: 9.2rem;
      height: 1.28rem;
      background: #6C8BFE;
      border-radius: 0.1066666667rem;
      font-size: 0.48rem;
      font-family: PingFangSC-Semibold;
      color: #FFF; }

/*# sourceMappingURL=findPassword.css.map */
